<a class="btn btn-primary" href="/#!/create/song"><span class="glyphicon glyphicon-plus"></span> Create Song</a></br>

</br><table class="table table-striped">
  <thead>
    <th>Title</th>
    <th>URL</TH>
      <th>Remove</th>
  </thead>
  <tbody>
    <tr ng-repeat="song in songs">
      <td><a ng-href="/#!/song/{{ song._id }}">{{ song.title }}</a></td>
        <td>{{ song.url }}</td>
        <td>
          <div class="button-group">

            <a ng-href="/#!/song/{{ song._id }}/delete" class="btn btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
